.hub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gap);
}

.codehub-post-entry {
    position: relative;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.codehub-post-entry:hover {
    transform: translateY(-6px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
