/* Allocate a single column when the width of the page is small. */
.post-entry .entry-info  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px 0px;
}
.post-entry .entry-footer {
    padding-top: 15px;
}


/* Allocate two columns when there is enough width. *
 * The thumbnail is placed in the first column, while the rest of
 * the children are placed in the second column. */
@media (min-width: 700px) {
    .post-entry .entry-info {
        grid-template-columns: 3fr 2fr;
        gap: 0px 10px;
    }

    .post-entry .entry-footer {
        padding-top: 0px;
    }
}

.post-entry .entry-info .entry-cover {
    max-width: fit-content;
    padding-top: 10px;
    margin: auto;
    grid-row: span 3;
}

.post-entry .entry-header {
    align-self: center;
}

.post-entry .entry-info .entry-content {
    align-self: center;
}

.post-entry .entry-info .entry-footer {
    align-self: end;
}