.project-page-tags,
.project-page-num {
    font-weight: normal;
    font-family: "IBM Plex Sans", sans-serif;
}

.project-page-name {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 3em;
}

.project-page-summary {
    max-width: 300px;
    font-weight: normal;
    font-size: 1em;
    font-family: "IBM Plex Sans", sans-serif;
}

.main-contents {
    line-height: 1.3;
}

.tagline {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 2;
    font-size: 1.1em;
}

.page-directs {
    font-size: 1em;
    font-weight: bold;
}

.page-direct-button {
}

.name-role-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: var(--text);
    letter-spacing: 2px;
}

.adjective {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: var(--tertiary);
    font-size: 4em;
}

.about-head {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 3.6em;
    color: var(--text);
    letter-spacing: 2px;
}

.about-me {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: var(--tertiary);
}

.about-subheadings {
    padding-top: 0.8em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
}

.about-side-note {
    font-weight: lighter;
}

@media only screen and (max-width: 768px) {
    .main-contents {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
    }
    .name-role-text {
        font-weight: bold;
        font-size: 2.1em;
        color: var(--text);
        letter-spacing: 2px;
    }

    .adjective {
        font-style: italic;
        color: var(--tertiary);
        font-size: 2.1em;
    }

    .tagline {
        line-height: 1;
        font-size: 1.1em;
    }
}
