.project-tags,
.project-num {
    font-weight: normal;
    font-family: "IBM Plex Sans", sans-serif;
}

.project-name {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2.3em;
}

.navlinks {
    font-size: 1.25em;
}

.text-transition-wrapper {
    display: inline-flex;
    font-family: inherit; /* Inherits parent font */
}
.project-page-name {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2.3em;
}

.transition-character {
    display: inline-block;
    min-width: 0.5em;
    transition: opacity 0.2s;
}

.transition-character.visible {
    opacity: 1;
}

.transition-character.hidden {
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    .project-tags,
    .project-num {
        font-size: 0.8em;
    }
    .project-name {
        font-size: 1.8em;
    }

    .navlinks {
        font-size: 1.8em;
    }
}
