{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content-parent" >
        <div class="entry-image">
            <!-- <div class="circle"></div> -->
            <img src="images/ranger_profile.svg" alt="Ranger's Profile Picture">

        </div>
        {{ .Content | markdownify }}
        <div class="entry-content">
            
        </div>
    </div>

    <div class="entry-hashtags">
        {{ .Hashtags | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
