#root {
    display: flex;
    height: 100vh;
    width: 100%;
}

.lap-content {
    line-height: 1.2;
}

.main-contents {
    line-height: 1.3;
}

.tagline {
    line-height: 2;
    font-size: 1.1em;
}

.navlinks {
    font-size: 1.25em;
}

.name-role-text {
    font-weight: bold;
    font-size: 3em;
    color: var(--text);
}

.adjective {
    font-style: italic;
    color: var(--tertiary);
    font-size: 3em;
}

.page-directs {
    font-size: 1em;
    font-weight: bold;
}

.page-direct-button {
}

@media only screen and (max-width: 600px) {
    .main-contents {
        line-height: 1.3;
    }
    .name-role-text {
        font-weight: bold;
        font-size: 2em;
        color: var(--text);
    }

    .adjective {
        font-style: italic;
        color: var(--tertiary);
        font-size: 2em;
    }

    .navlinks {
        font-size: 1.1em;
    }
}
